<div id="page-background"><img src="/images/background.png" width="100%" height="100%"\></div>
<div id="content">
	<div style="position:relative; top: 5px; left: 30px;width:278px;border:0px"><h1>BADGER INNOVATIONS</h1></div>
	<hr size=10 noshade width=96%></hr>
	<div id="nav-menu">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Methodology</a></li>
		<li><a href="#">About us</a></li>
		<li><a href="#">Jobs</a></li>
		<li><a href="#">Contact us</a></li>
	</ul> </div>
</div>	
