@font-face { font-family: DroidSans; src: url('DroidSans.ttf');}
@font-face { font-family: DroidSans; font-weight: bold; src: url('DroidSans-Bold.ttf'); }
html, body {
	height:100%; 
	margin:0; 
	padding:0;
}
#page-background {
	position:fixed; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%;
}
#header{
	height: 100px; 
	width:300px;
}
#content {
	position:relative; z-index:1; padding:10px;
	font-family: DroidSans, Arial, sans-serif;
}
h1{
	margin: 0;
	font-weight:bold;
	font-size: 3.2em;
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
	position: relative;
	left: 40px;
	padding-bottom:0px;
}
hr {
	position:relative;
	left: -20px;
	color: #2e2e2e;
}
#nav-menu ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav-menu li
{
	float: left;
	margin: 0 0.15em;
}

#nav-menu li a
{
	height: 2em;
	line-height: 2em;
	float: left;
	width: 7.1em;
	padding-left: 14px;
	padding-right: 14px;
	font-family: "DroidSans", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 23px;
	color: #2e2e2e;
	text-decoration: none;
	text-align: center;
}

/* Hide from IE5-Mac \*/
#nav-menu li a
{
float: none
}
/* End hide */

#nav-menu
{
	width:45em;
	position:absolute;
	margin-right:auto;
	right: 0px;
	top: 4px;
} 
#header {
	background-image:url('/images/Title.png');
	width: 314px; 
	height: 130px;
	position:absolute;
	top: -2px;
	left:-1px;
}
#slogan {
	position:relative;
	top: 115px;
	font-size: 25px;
	color: #000;
}
#texthome {
	width: 764px; 
	height: 465px;
	position:absolute;
	top: 120px;
	right:54px;
	background-color:white;
}
#textjobs {
	width: 764px; 
	height: 435px;
	position:absolute;
	top: 120px;
	right:54px;
	background-color:white;
}
#textmethod {
	width: 804px; 
	height: 555px;
	position:absolute;
	top: 120px;
	right:54px;
	background-color:white;
}
#textcontact {
	width: 764px; 
	height: 435px;
	position:absolute;
	top: 120px;
	right:54px;
	background-color:white;
}
#textabout {
	width: 764px; 
	height: 495px;
	position:absolute;
	top: 120px;
	right:54px;
	background-color:white;
}
#text1 {
	font:50px "DroidSans", Arial, Helvetica, sans-serif;
	color:#e61c33;
	top: -34px;
	left: 12px;
	position:relative;
}
#text2 {
	font:22px "DroidSans", Arial, Helvetica, sans-serif;
	color:#2e2e2e;
	top: 44px;
	left: 33px;
	position:absolute;
}
#text3 {
	font:22px "DroidSans", Arial, Helvetica, sans-serif;
	color:#2e2e2e;
	top: 46px;
	left: 244px;
	position:absolute;
}
#text4 {
	font:31px "DroidSans", Arial, Helvetica, sans-serif;
	color:#2e2e2e;
	top: 130px;
	left: 24px;
	position:absolute;
}