<div id="textabout">
		<p style="font-size:23px;"> 
			Badger Innovations was started after a realization that a gap exists between what technically-inclined students learn in the classroom, and the website/technology creation needs of small businesses. At Badger Innovations, we want to provide students an "out of class" opportunity where they can use their talents and skills  to work on real world projects.
			<br/<br/><br/>We pride ourselves in hiring highly talented students. Our current team of Innovators:
		</p>	
</div>