<div id="textcontact">
		<p style="font-size: 22px; color:#ec2333">Innovation starts with an idea. If you have an idea, we have our Innovators ready. Fill out the details for a free quote.<br/></p>
		<form method="post">
			<div class="row requiredRow">
				<label for="txt_Name" id="Name-ariaLabel">Name</label>
				<br/><br/><input id="txt_Name" name="txt_Name" type="text" aria-labelledby="Name-ariaLabel" class="required" title="Name. This is a required field"><br/>
			</div>
			<div class="row requiredRow">
				<label for="txt_Email" id="Email-ariaLabel">Email</label>
				<br/><br/><input id="txt_Email" name="txt_Email" type="text" aria-labelledby="Email-ariaLabel" class="required" title="Email. This is a required field"><br/>
			</div>
			<div class="row requiredRow">
				<label for="txtarea_Description" id="Description-ariaLabel">Description</label>
				<br/><br/><textarea id="txtarea_Description" name="txtarea_Description" cols="40" rows="8" aria-labelledby="Description-ariaLabel" class="required" title="Description. This is a required field"></textarea>
			</div>
			<div class="row">
				<input type="submit" value="Submit form">
			</div>
		</form>
</div>