<div id="texthome">
		<p> 
			<h2 id="text1"> Your Website Is a Big Investment</h2> 
			<h3 id="text2"> Its a symbol of your business, a one stop where you can tell your story</h3>
			<h3 id="text3"><br/>and promote your business. </h3>
			<h3 id="text4">We at Badger Innovations dedicate ourselves in designing top-notch websites which attracts customers and puts your business out there on the map.			
						   <br/><br/> Contact Us today for a free quote:
						   <br/> info@badgerinnovations.com
			</h3>
		</p>	
</div>