<div id="textjobs">
		<p style="font-size:23px;"> 
			Are you passionate about Technology? Does the thrill of learning new technologies entice you? Are you an Innovator? If yes then Badger Innovations is the place for you. We are constantly looking for talented individuals who share the same passion as we do.

			<br/><br/>If you are interested in joining our team of Innovators, then take the first step towards Innovation. Send us your resume and a brief description about your passion in technology and Badger Innovations. We will get in touch with you before you can blink.

			<br/><br/>Check our social media pages to learn more about us
		</p>	
</div>