<div id="textmethod">
		<p style="font-size: 20px;"> 
			Websites are easy to built, a good website on the other hand is not so easy. There are 3.6 gazillion firms who can design websites. We at Badger Innovations know where you're coming from. Our aim is to provide Web Designs which not only helps you spread the word, but also deliver results. The mixture of our highly talented, experienced, and driven individuals will make sure that your Website is visually appealing, user friendly and more importantly tells who you are.
			<br/><br/> Our Methodology is simple:
			<br/> Design : We don't want to miss out on any details. Thus our first step is simple, talking about your website. We want to pick your brains about what you want it, how you want it and for whom do you want it. We will dig deep in your thought process and make sure that we cover everything that you want
			<br/> Develop: Crunch time. We take your ideas and turn them into reality, We Innovate. With the help of latest technologies, our Innovators will build your Web site effectively and smoothly. Changed your mind about something, no problem. Our main purpose is to meet your needs, we will remain in touch with you to make sure all the ends are met.
			<br/> Deliver: After our Innovators have done their magic, its time to put it out for the real world. All you have to do now is just sit back, relax and see how your vision is now earning results. We also provide consultation and Website maintenance so if you want our help, let us know.
		</p>	
</div>